{{ define "main" }}
<section class="hero is-light is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{ .Title }}</h1>
            <div class="subtitle content">{{ .Description | markdownify }}</h2>
        </div>
    </div>
</section>

<section class="section">
<div class="container">
    <div class="content">
        {{.Content}}
    </div>
    <h3 class="title">Commands</h3>
    <ul>
          {{ $paginator := .Paginate (where .Data.Pages "Type" "command") 20 }}
          {{ range $paginator.Pages }}
                <li>{{ partial "summary.html" . }}</li>
          {{ end }}
    </ul>

</div>
    {{ partial "pagination.html" . }}
</section>

{{ end }}
