<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    <link rel="stylesheet" href="https://community.exoscale.ch/static/css/base.css">
  </head>
  <body id="top" class="no-js root">
      <div class="top-jump-button"></div>
      <header class="page-header" role="banner">
        <div class="container">
        <a class="brand" href="/egoscale">
            <img
                class="logo"
                src="https://community.exoscale.ch/static/img/logo-exoscale-white-201711.svg"
                alt="Exoscale - European Cloud Provider">
        </a>
        {{ partial "menu" }}
        </div>
      </header>
      <div class="container">
    {{ block "main" . }}
    {{ end }}
      </div>
    {{ block "footer" . }}
    {{ end }}
    <footer class="page-footer">
        <nav class="nav-sitemap">
        </nav>
        <div class="bottom-line">
            <div class="container">
                <div class="legal">
                    Exoscale is a registered trademark of <span class="text-nowrap">Akenes SA</span> - <span class="text-nowrap">Reg/VAT ID</span> <span class="text-nowrap">CHE-423.524.322</span>
                </div>
            </div>
        </div>
    </footer>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://community.exoscale.ch/static/js/base.min.js"></script>
  </body>
</html>
